extends bootstrap

block body
	.jumbotron
		h1.display-3 SoEasy
		p.lead
		| This is a new version of SoEasy. Currently, a version of the pug. The production is done by Park Kwang-il with Lee Jun-young in RESL Lab.
		hr.my-4
		h3 References are as follows:
		p github (Last version)
		a(href='https://github.com/KwangILDAEGU/SoEasy-Framework') https://github.com/KwangILDAEGU/SoEasy-Framework
		p Paper of Sensors
		a(href='https://www.mdpi.com/1424-8220/18/7/2162') https://www.mdpi.com/1424-8220/18/7/2162
		hr.my-4
		a.btn.btn-primary.btn-lg(href='/setting/info', role='button') Let's Learn How to Do
